In [16]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

import pandas as pd

school_series = pd.Series(high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [11]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school_type in high_school_types:
    for key in school_type:
        print(key+ ":" + school_type[key])

High School:Griffin
Type:District
High School:Figueroa
Type:District
High School:Wilson
Type:Charter
High School:Wright
Type:Charter

In [12]:
pair = [
   ('fname', 'Foo'),
   ('lname', 'Bar'),
   ('email', 'foo@bar.com'),
]
 
for p in pair:
    print('{} : {}'.format(p[0], p[1]))
 
for p in pair:
    print('{} : {}'.format(*p))
 
for field, value in pair:
    print('{} : {}'.format(field, value))

fname : Foo
lname : Bar
email : foo@bar.com
fname : Foo
lname : Bar
email : foo@bar.com
fname : Foo
lname : Bar
email : foo@bar.com

In [19]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [34]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Add the list to a new DataFrame.
schools_df["School Type"] = type_of_school

# Add the list to a new DataFrame.
schools_df["School Name"] = school_name

schools_df

   School ID School Type            School Name
0          0    District      Huang High School
1          1    District   Figueroa High School
2          2     Charter    Shelton High School
3          3    District  Hernandez High School
4          4     Charter    Griffin High School